body {
    margin: 0
    : grid;
    }
    body {
    background-color:#737373;
    
    }
    
    .logo{
    width: 100%;
    }
    
    
    .desk {
    border: 15px solid #444444;
    border-radius: 300px;
    width: 300px;
    height:300px;
    grid-column: 1;
    display: inline-block;
    }
    
    .graphic {
    border: 15px solid #444444;
    border-radius: 300px;
    width: 300px;
    height: 300px;
    margin: auto 100px;
    grid-column: 2;
    display: inline-block;

    }
    
    .person {
    border: 15px solid #444444;
    border-radius: 300px;
    width: 300px;
    height: 300px;
    grid-column: 3;
    display: inline-block;

    }
    
    #image {
    text-align: center;
    margin-top: 20px;
    grid-template-columns: 1fr, 1fr, 1fr;
    display: inline-block;
    }